<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='CR3 | Registrazione effettuata')"> </head>
<body>
    <nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>
	
     <section id="principale">
     
       <section id="titoloPagina" >
         <h2>Registrazione</h2>
       </section>
      
       <section id="dati">
          <h2>Congratulazioni, la tua registrazione è andata a buon fine!</h2>
       </section>
     
     </section>
     
    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>