body {
	Font-family: Rockwell;
	background-image: url("/img/catering2.png");
	Background-size: cover;
	background-repeat: no-repeat;
	Background-color: white;
}


/*HEADER e NAVBAR*/
Header {
	margin-top: 20px;
	margin-left: 50%;
	margin-right: auto;
	width: 50%;
	Top: 40px;
	display: flex;
	/*justify-content: space-between;*/
}

#logo {
	Height: 70px;
}

#catering {
	Font-size: 20px;
	Color: DarkOrange;
}

#navbar {
	Height: 40px;
	Background: none;
	margin-top: 7px;
	font-size: 18px;
}

#navbar ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
}

@media ( max-width : 450px) {
	nav ul {
		flex-direction: column;
	}
}

#navbar li a {
	display: block;
	color: DarkOrange;
	text-align: center;
	padding: 14px 10px;
	text-decoration: none;
	font-weight: bold;
}

#navbar li a:hover {
	color: darkgray;
}

/* SECTION PRINCIPALE*/
#principale {
	Background-color: lightgoldenrodyellow;
	Margin-top: 40px;
	Margin-left: 20px;
	Margin-right: 20px;
	Margin-bottom: 60px;
	height: 570px;
	Border: 2px solid DarkOrange;
	Overflow: auto;
}

/*SECTION INTERNE*/
#titoloPagina {
	Color: DarkOrange;
	Text-align: center;
	Background-color: rgb(0, 0, 0, 0.6);
	/*Margin-left: 20%;
	Margin-right: 20%;*/
	Padding: 2px;
}

#dati {
	Text-align: center;
	Background-color: lightgoldenrodyellow;
	color: rgb(0, 0, 0, 0.6);
	Min-height: 400px;
	Margin-top: 20px;
	Margin-left: 10%;
	Margin-right: 10%;
	Margin-bottom: 20px;
	Padding: 2px;
}

/*Liste*/
#lista {
	display: flex;
	justify-content: stretch;
	flex-direction: column;
}

.objList {
	margin-top: 30px;
}

.infoObj {
	margin-top: 0px;
	width: 95.5%;
	text-align: center;
	background-color: white;
	border: 4px solid GhostWhite;
	box-shadow: 5px 8px 10px 0px Black;
	padding: 5px;
}

#delete {
	height: 40px;
	width: 40px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

#lista a {
	text-decoration: none;
}

#elem {
	background-color: darkgray;
	color: darkorange;
	/*border: 2px solid Azure;*/
	/*text-align: center;*/
	padding: 20px;
	font-size: 30px;
	cursor: pointer;
}

#elem:hover {
	background-color: darkorange;
	color: white;
}

/*flex-container delle pagine singole*/
#flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
	Margin-top: 0px;
}

.info-dati {
	Text-align: center;
	color: white;
	Min-height: 400px;
	Margin-top: 20px;
	Margin-left: 10%;
	Margin-right: 10%;
	Margin-bottom: 20px;
	Padding: 2px;
}


.col2 {
	color: black;
	padding:5px;
	height:370px;
	width:50%;
	border-radius:10px;
	overflow:auto;	
}


#paragrafo {
	height: 270px;
	overflow: auto;
	margin: 10;
	border-color: black;
	border-width: 1px;
	border-style: dotted;
	border-radius: 10px;
	padding: 10px;
}

.foto {
	margin-top: 20px;
	width: 380px;
	height: 200px;
	margin-top: 20px;
	transition-duration: 1s;
	-ms-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-property: transform;
	-ms-transition-property: -ms-transform;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	overflow: hidden;
}

.foto:hover {
	-ms-transform: scale(1.2, 1.2); /*explorer*/
	-webkit-transform: scale(1.2, 1.2); /*chrome e safari*/
	-moz-transform: scale(1.2, 1.2); /*firefox*/
	-o-transform: scale(1.2, 1.2); /*opera*/
}

#immagine {
	margin-top: 20px;
	width: 380px;
	height: 200px;
	margin-top: 20px;
}
/*FOOTER*/
footer {
	Height: 30px;
	Width: 100%;
	Background-color: white;
	Position: fixed;
	Bottom: 0px;
	Left: 0px;
	Text-align: center;
	Padding-top: 20px;
}

/*PAGINA HOME*/
#flex-container-info {
	Background-color: lightgoldenrodyellow;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	Margin-top: 20px;
}

.col-info {
	border: 1mm solid black;
	background-color: white;
	padding: 5px;
	width: 44%;
	border-radius: 10px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 50px;
	overflow: auto;
}

#small-info {
	padding-right: 20px;
	width: 40%;
	height: 50%;
}

#paragrafo {
	height: 270px;
	overflow: scroll;
	margin: 10;
	border-color: black;
	border-width: 1px;
	border-style: dotted;
	border-radius: 10px;
	padding: 10px;
}

#formElimina {
	text-align: center;
}

a {
	color:DarkOrange;
}

a:hover {
	color: darkgray;
}