<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='CR3 | Aggiungi uno Chef')"></head>

<body>
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<header th:replace="fragments/base.html :: header"></header>

	<section id="principale">

		<section id="dati">

			<form th:action="@{/admin/chef}" method="POST" id="loginForm"
				th:object="${chef}" enctype="multipart/form-data">

				<div>
					<h1>Inserisci uno Chef</h1>
				</div>

				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>

				<div>
					<div>
						<h2>Nome:</h2>
						<span><input type="text" th:field="*{nome}" /></span> <span
							th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
					</div>
					<div>
						<h2>Cognome:</h2>
						<span><input type="text" th:field="*{cognome}" /></span> <span
							th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
					</div>
					<div>
						<h2>Nazione:</h2>
						<span><input type="text" th:field="*{nazionalita}" /></span> <span
							th:if="${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></span>
					</div>
					<div>
						<h2>Descrizione:</h2>
						<div>
							<textarea th:field="*{descrizione}" rows="10" cols="30"
								maxlength:"2000" required />
						</div>
					</div>
					<div>
						<h2>Foto:</h2>
						<span><input type="file" name="image"
							accept="image/png, image/jpeg, image/jpg" /></span>
					</div>

					<div>
						<button type="submit">Invio</button>
					</div>
				</div>


			</form>
		</section>

	</section>